:root{
    --cor-divulgação: rgb(255, 255, 255);
    --tamanho-fonte-divulgação: 30px;
    --cor-principal: #1d8b12;
     --fonte-roboto: Roboto;
    --cor-marrom: rgb(192, 164, 129);
      
}
@font-face {
    font-family: Coolvetica;
    src: url(../fontes/coolvetica\ rg.otf);
}

/*DIVULGAÇÕES*/
.sessão-divulgação-martketing{
    background-color: rgba(228, 84, 17, 0.938);
    text-align: center;
    
}
.sessão-divulgação-martketing h1{
   padding:  10px;
   color: var(--cor-divulgação);
   font-size: var(--tamanho-fonte-divulgação);
   font-family: Coolvetica;

}
/*Principal*/
.principal__container__2{
    background: linear-gradient( to right, white 40%,#e9dbf7);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.principal__container__2 button, .rações-filhotes-principal__container button{
    background-color: rgb(247, 242, 1);
    padding: 5px;
    border: 1px solid rgb(199, 219, 21);
    border-radius: 5px;
    
}
.principal__container__2 button a,.rações-filhotes-principal__container button a{
    text-decoration: none;
    font-family: Coolvetica;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.938)

}
.botões-saiba-mais{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.sessão-ração-filhote{
    background-color: rgba(41, 76, 82, 0.938);
    text-align: center;
   
}
.sessão-ração-filhote h2{
    padding:  10px;
   color: var(--cor-divulgação);
   font-size: var(--tamanho-fonte-divulgação);
   font-family: Coolvetica;


}
.rações-filhotes-principal__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient( to right, #f0f0f0 60%,#d4d4fa);
}
.ração-filhote-1{
    margin-right: 5%;   
}
/*Informações Redes Sociais*/
.informações h1{
    font-size: 25px;
    padding-bottom: 10px;
}
.informações{
    background-color: var(--cor-marrom);
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 20px;
    font-family: Coolvetica;
}
.redes-sociais_container{
    text-align: center;
    background-color: var(--cor-marrom);

}
.redes-sociais_container img{
    padding: 10px;
}
footer{
    padding-top: 20px;
    background-color: var(--cor-marrom);
    text-align: center;
    
}
footer p{
    font-family: Coolvetica;
    
}
.redes-sociais-logo img{
    margin:  30px;
 }
.copyright{
    margin-top: 20px;
}


@media (max-width: 1000px){
    .sessão-divulgação-martketing{
        margin-top: 5px;
        margin-bottom: 10px;}
    .divulgação-ração-filhote-titulo h2{
            margin-top: 5px;
        }

    .botões-saiba-mais{
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }
    .sessão-divulgação-martketing h1{
        font-size: 25px;}
    .principal__container__2 img, .rações-filhotes-principal__container img{
        width: 400px;
    }
    .informações h1{
        padding-bottom: 10px;

    }
    .redes-sociais-logo img{
       margin:  30px;
    }
    .copyright{
        margin-top: 20px;
    }

}
@media (max-width: 400px){
    .sessão-divulgação-martketing{
        margin-top: 5px;
        margin-bottom: 10px;}
    .divulgação-ração-filhote-titulo h2{
         margin-top: 5px;
        }

    .botões-saiba-mais{
        display: flex;
        justify-content: center;   
    }
    .sessão-divulgação-martketing h1{
        font-size: 25px;}
    .principal__container__2 img, .rações-filhotes-principal__container img{
        width: 320px;
        display: flex;
        justify-content: center;
    }
    .rações-filhotes-principal__container{
        display: flex;
        justify-content: center;

    }
    .redes-sociais-logo img{
        margin:  30px;
     }
    .informações h1{
        padding-bottom: 10px;

    }
    .copyright{
        margin-top: 20px;
    }
}
@media (max-width: 300px){
    .sessão-divulgação-martketing{
        margin-top: 5px;
        margin-bottom: 10px;}
    .divulgação-ração-filhote-titulo h2{
        margin-top: 5px;
    }

    .botões-saiba-mais{
        display: flex;
        justify-content: center;
    }
    .sessão-divulgação-martketing h1{
        font-size: 20px;}
    .principal__container__2 img, .rações-filhotes-principal__container img{
        width: 300px;
        display: flex;
        justify-content: center;
    }
    .rações-filhotes-principal__container{
        display: flex;
        justify-content: center;

        
    }
    .redes-sociais-logo img{
        margin:  30px;
     }
    .informações h1{
        
        padding-bottom: 10px;

    }
    .copyright{
        margin-top: 20px;
    }
}
